@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

/* *{ */
/*     margin: 0; */
/*     padding: 0; */
/* } */

html {

font-size: 16px;

}

body {

    display:flex;

    flex-direction:column;

    width: 100vw;

    height: 100vh;

    justify-content: center;

    align-items: center;


}

.product_detail {

    position: relative;

    width: 60%;

    height: 50%;


    border-radius: 1rem;


    border: 0.125rem solid gray;

    padding: 1rem;


    cursor: pointer;  
        
    overflow: hidden;

    display: grid;

    grid-template-rows: repeat(3,1fr);

    grid-template-columns: repeat(2,1fr);



}


.product_title {
  font-family: "Combo", system-ui;
  font-weight: 900;
  font-style: normal;
  font-size: 3rem;

  color: white;

  position: absolute;

  left: 1rem;

  bottom: 8rem;

  z-index: 3;

}


.product_price::before {

    content: "$";


}



.product_price {

    z-index: 3;

    position: absolute;

    left: 1rem;

    bottom: 1rem;
 
    /* background: black; */

    width:max-content;

    text-align: start;

    color: black;

    font-style: bold;

    font-size: 6rem;

    /* margin-bottom: 1rem;  */

   stroke-opacity: 0.5;


}



.info_wrapper {

    position: absolute;

    left: 0;

    bottom: 0;

    height: max-content;

    width: 100%;

    background-color: black;

    color: white;



}


.product_img {

   
    position: absolute;


    width: 100%;

    height: 100%;


    aspect-ratio: 16 / 9  ;

    /* aspect-ratio: 3 / 4; */
    
    object-fit:cover;

    object-position: 30% 10%;

    z-index: 2;





}



.product_detail::before {
content:"";
position: absolute;

top: 0;

left: -150%;

width: 100%;

height: 100%;



background:#57C785;

 animation: shimmer 1s infinite;


}

.product_detail.loaded::before {

    display: none;

}






@keyframes shimmer {

0% {

left:-150%;

}

100% {

left:150%;

}


}
